.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inside: 5px;
}

.App-combo-box {
  width: 400px;
  position: center;
}

.App-body {
  align-items: center;
  justify-content: center;
}

.App-image-bord {
  max-width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-container {
  width: 100vw;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}
